#about-me {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#about-me > h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #444;
}

#about-me > p {
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: center;
  color: #666;
  font-size: 20px;
  font-weight: normal;
  margin: 2rem 0;
}

.photo h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.photo h3::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  height: 4px;
  position: absolute;
  width: 80px;
  margin-top: 8px;
  margin-left: 19px;
}

/* personal card*/

.team-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
  background-color: #ccc;
}

.team-card:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
}

.team-card .img-box {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.team-card .img-box img {
  width: 100%;
  display: block;

}

.team-card:hover .img-box {
  opacity: 0.5;
}

.team-card:hover .team-content {
  bottom: 0;
}

.team-card .team-content {
  position: absolute;
  width: 100%;
  bottom: -100%;
  padding: 60px 20px 20px 20px;
  text-align: center;
  box-sizing: border-box;
  transition: 0.5s;
  background: linear-gradient(0deg, #28b8d8, transparent);
}


  .team-card .team-content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 20px;
  }

  .team-card .team-content h2 span {
    color: #ffeb3b;
    font-size: 16px;
  }

  .team-card .team-content p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
  }

  .team-card .team-content ul {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .team-card .team-content ul li {
    list-style: none;
  }

  .team-card .team-content ul li a {
    color: #fff;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.5s;
  }
/* end personal photo-card*/

.skills {
  margin-top: 3rem;
}

.service {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 15% 85%;
  max-width: 100%;
}

.text > h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.text > p {
  color: #666;
  text-align: justify;
}

.icon {
  color: #28b8d8;
  font-size: 40px;
}
.icon > a{
  text-decoration: none;
  color: #28b8d8;
}

.divide {
  width: 100%;
  height: 20px;
}

@media (max-width: 576px) {
  .photo h3 {
    text-transform: uppercase;
  }
  .photo h3::after {
    width: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .text > h4 {
    text-align: center;
  }
  .icon {
    margin: auto 0;
  }
}

@media(max-width: 768px) {
  .photo h3 {
    text-align: center;
  }
  .icon {
    margin: auto auto;
  }
}

@media (max-width: 992px) {
  .icon {
    font-size: 30px;
  }
  .fa-camera-retro {
    font-size: 30px;
  }
}
