footer {
  display: flex;
  justify-content: space-around;
  background: #1e1e1e;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 1rem;
}

footer a:hover {
  opacity: 0.8;
}