form {
  margin-bottom: 3rem;
}

.form-section > h5 {
  font-family: 'Roboto Slab', serif;
  color: #444;
  font-weight: 700;
  text-align: center;
}

.form-section p {
  color: #666;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.form-group {
  margin-top: 1rem;
}

.label-form > label {
  color: #666;
  font-size: 18px;
  font-weight: normal;
}

.btn {
  padding: 0.375rem 4.75rem;
  font-size: 1.3rem;
}

@media (max-width: 576px) {
  .col {
    flex-basis: auto;
  }
  .form-group {
    margin: 1rem;
  }

}

